@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.orange_gradient {
	background: #00ff00;
	background: linear-gradient(to left, hsl(120, 100%, 45%) 0%, hsl(180, 100%, 40%) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
